
<div class="container">
		    
	        <h4><span class="label label-default">Student List</span></h4>
			<table class="table table-condensed">
				<thead>
				  <tr>
					<th>Nominativo</th>
					<th>Indirizzo</th>
					<th>Mobile</th>
					<th>email</th>
					<th>Skype</th>
				  </tr>
				</thead>
				<tbody>
						
				</tbody>
			  </table>		
				
				<hr>
				<footer>
					<p>&copy; 2017 - Powered by CodIgniter Technologies Ltd. All rights reserved.</p>
				</footer>
		</div>
