
<div class="container">
		    
	        <h4 class="animated fadeInLeftBig"><span class="label label-default">Student List</span></h4>
			<table class="table table-condensed animated bounceInDown">
				<thead>
				  <tr>
					<th>#</th>
					<th>Roll No.</th>
					<th>Name</th>
					<th>Edit</th>
					<th>Delete</th>
				  </tr>
				</thead>
				<tbody>
						<?php
							$i=1;
							foreach($records as $r)
							{
								echo "<tr>";
								echo "<td>".$i++."</td>";
								echo "<td>".$r->roll_no."</td>";
								echo "<td>".$r->name."</td>";
								echo "<td><a
								href='".base_url()."index.php/stud/edit/".$r->roll_no."' class='btn btn-primary'>Edit</a></td>";
								echo "<td><a
								href='".base_url()."index.php/stud/delete/".$r->roll_no."' class='btn btn-primary'>Delete</a></td>";
								echo "</tr>";
							}
						?>
				</tbody>
			  </table>		
				<div class="btn-group btn-group-justified">
				   <?php echo "<a href='".base_url()."index.php/stud/add_view' class='btn btn-primary animated fadeInLeftBig'>Add new</a></td>"; ?>
					
				</div>
				<hr>
				<footer>
					<p class="animated jello">&copy; 2017 - Powered by CodIgniter Technologies Ltd. All rights reserved.</p>
				</footer>
		</div>
